<launch>
    <node name="main" pkg="translate" type="main.py" required="true" output="screen" />
    <node name="translator" pkg="translate" type="translator.py" required="true" output="screen" />
    <!-- <node name="judge_logo" pkg="translate" type="judge_logo.py" required="true" output="screen" /> -->
</launch>