<launch>
    <node name="main" pkg="roulette" type="main.py" required="true" output="screen" />
    <!-- <node name="gen_rand" pkg="roulette" type="gen_rand.py" required="true" output="screen" />
    <node name="judge_logo" pkg="roulette" type="judge_logo.py" required="true" output="screen" /> -->
</launch>